<ul>
    <li><a>Copyright © 2020. All Rights Reserved.</a></li>
    <li style="float:right"><a>
            <img src="/assets/icons/twitter.svg" alt="">
        </a></li>
    <li style="float:right"><a>
            <img src="/assets/icons/instagram.svg" alt="">
        </a></li>
    <li style="float:right"><a>
            <img src="/assets/icons/fb.svg" alt="">
        </a></li>
    <li style="float:right"><a>Contact us</a></li>
    <li style="float:right"><a>Privacy</a></li>
    <li style="float:right"><a>Term</a></li>
    <li style="float:right"><a>Feature</a></li>
    <li style="float:right"><a>Home</a></li>




</ul>