
<!-- Top section -->
<div class="container-1">
  <div class="flex">
    <div class="c1-block" style="position: relative;">
      <img src="/assets/icons/filed-logo-01.png" alt="">
      <h1 class="h1">Book a demo today and get two weeks for <span style="color:
          var(--color-light-blue);">free</span> Why?</h1>
      <img class="c1-block-grid" src="/assets/icons/Repeat Grid 2.svg" alt="">
      <img class="c2-block-grid" src="/assets/icons/Repeat Grid 2.svg" alt="">
      <img src="/assets/icons/Ellipse 8.svg" class="ellipse-1" alt="">
      <img src="/assets/icons/Ellipse 11.svg" class="ellipse-2" alt="">
      <img src="/assets/icons/Ellipse 10.svg" class="ellipse-3" alt="">
      <img src="/assets/icons/Ellipse 9.svg" class="ellipse-4" alt="">
      <img style="width: 85%;" src="/assets/icons/Artboard 1.png" alt="">
    </div>
    <div class="c1-block">
    <!-- performing routing -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- common page section -->
<app-section></app-section>